body {
  font-family: Inter, sans-serif;
  background-color: #1c1a19;
  margin: 0;
  overflow-x: hidden;
}

.nav-bar,
a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
}

.nav-bar,
a:hover { color: gray; }

.nav-bar {
  display: flex;
  background-color: #3e3c3c;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  margin: 0;
  padding: 0;
}

.name {
  flex: 2;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin: 0 10px;
  padding-left: 6rem;
}

.list {
  flex: 1;
  list-style: none;
  display: flex;
  margin-right: 2rem;
  padding: 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.social { height: 10px; }

.list .item .social {
  display: inline-block;
  padding: 15px 10px;
}

.line {
  background-color: white;
  width: 20px;
  height: 5px;
  margin-bottom: 3px;
}

.menu { display: none; }

.icons {
  list-style: none;
}

.headline {
  display: flex;
  flex: 1;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: space-around;
}

.headline-icons {
  flex: 0;
  margin: 0 30px;
}

.headline-description {
  flex: 2;
  padding-left: 3rem;
  height: auto;
}

.headline-ilustration {
  flex: 0;
  margin: 0;
}

h1 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 81px;
  color: #f55800;
}

h2 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 81px;
  color: #f55800;
}

h3 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  text-align: center;
}

h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

h5 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.works {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 5rem 10rem;
}

.header-content {
  text-align: left;
  margin: 0;
}

.work-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 52px;
  color: #091e42;
  align-items: center;
  text-align: center;
  width: 100%;
  flex: 2;
}

p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

.work-line-title {
  border: 1px solid #212121;
  width: 90%;
  margin: auto;
  flex: 3;
}

.works-title {
  align-items: center;
  display: flex;
}

.class-works {
  display: flex;
}

.initial-section {
  display: flex;
  width: 100%;
  margin: auto;
}

.principal-image {
  flex: 2;
}

.content {
  padding: 0 2rem;
  flex: 1;
}

.content p {
  color: #091e42;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.tag-container {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.tags-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style: none;
  margin-left: -3rem;
}

.tag {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  color: #091e42;
  margin: 5px;
}

.button {
  background-color: #f55800;
  color: #fff;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  border: none;
}

.button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.img1 {
  width: 100%;
  margin: auto;
}

.project-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 0;
}

.first-card {
  border: 2px solid #091e42;
  background-image: url("images/project2.svg");
  margin: 0 2rem 2rem 0;
  display: flex;
  align-items: flex-end;
  width: auto;
  padding: 2rem 0;
  justify-content: center;
}

.tags-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  margin-left: -3rem;
}

.card-content-first {
  margin: -2rem -1.5rem;
  width: 100%;
}

.first-card .button {
  width: 100%;
}

.card2 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project3.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
}

.card3 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project4.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
}

.card4 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project5.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
}

.card5 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project3.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
}

.card6 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project4.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
}

.card-info .tag {
  background: rgba(255 255 255 / 0.24%);
  box-sizing: border-box;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  color: #fff;
  margin: 5px;
}

.card-info {
  display: flex;
  align-items: end;
}

.about-info {
  padding: 0 5rem;
  width: 100%;
  flex: 1;
}

.about-img {
  width: 100%;
}

.about-paragraph {
  padding-bottom: 2rem;
}

.about-image1 {
  margin: auto;
  flex: 1;
}

.about-me {
  display: flex;
  padding-bottom: 10rem;
  padding-top: 5rem;
}

hr {
  border: 1px solid #fff;
  width: 90%;
}

.skills-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  width: 100%;
}

.headline-skills-rhombus {
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("images/rhombus.svg");
  list-style-position: inside;
  margin-bottom: 1rem;
}

.headline-skills-square {
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("images/squad.svg");
  list-style-position: inside;
  margin-bottom: 1rem;
}

.headline-skills-circle {
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("images/circle.svg");
  list-style-position: inside;
  margin-bottom: 1rem;
}

.skill-list {
  list-style: none;
  color: #fff;
  font-size: 22px;
  line-height: 42.67px;
  margin-bottom: 2rem;
}

.content-paragraph p {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.button-display {
  display: none;
}

@media all and (max-width: 480px) {
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }

  .headline-img {
    width: 60%;
    margin: auto;
    position: relative;
    left: 190px;
    top: 160px;
  }

  .nav-bar .name {
    flex-direction: column;
    position: relative;
    padding: 1rem;
    width: 100%;
  }

  .list {
    display: none;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 12px;
  }

  .nav-bar .item {
    display: block;
    border-top: 2px solid #3e3c3c;
  }

  .headline {
    display: flex;
    flex-direction: column;
  }

  .headline-icons {
    order: 1;
    align-self: flex-start;
    margin-bottom: -10rem;
    margin-top: -3em;
  }

  .icons {
    display: flex;
  }

  .headline-description {
    order: 0;
    margin: 12px 0;
    padding-left: 3rem;
    padding-right: 5em;
  }

  h1,
  h2 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .headline-ilustration {
    order: 2;
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: -10rem;
    padding-bottom: 10rem;
  }

  .works-title {
    flex-direction: column;
  }

  .works {
    padding: 1rem 1rem 5rem;
  }

  .initial-section {
    flex-direction: column;
  }

  .principal-image {
    padding-bottom: 2rem;
    padding-top: 4rem;
  }

  .project-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    padding: 0 2rem;
    width: auto;
  }

  .first-card {
    width: 327px;
    height: 386px;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.3rem;
  }

  .first-card .button {
    width: 100%;
    margin: 0.7rem 0;
  }

  .card-info {
    padding-bottom: 1rem;
  }

  .card2 {
    width: 327px;
    height: 386px;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
  }

  .card3 {
    width: 327px;
    height: 386px;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
  }

  .card4 {
    width: 327px;
    height: 386px;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
  }

  .card5 {
    width: 327px;
    height: 386px;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
  }

  .card6 {
    width: 327px;
    height: 386px;
    margin: auto;
    align-items: flex-end;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
  }

  .button-display {
    display: block;
    width: 100%;
  }

  .card-button {
    margin: -2rem -1.5rem;
  }

  .about-me {
    flex-direction: column;
  }

  .about-img {
    width: 70%;
    margin: auto;
    position: sticky;
    left: 300px;
  }

  .about-info {
    margin: auto;
    padding: 0 2rem;
    width: auto;
  }

  .skills-info {
    grid-template-columns: repeat(1, 1fr);
    padding: 5rem 0;
    text-align: center;
  }
}
