body {
  font-family: Inter, sans-serif;
  background-color: #1c1a19;
  margin: 0;
  overflow-x: hidden;
}

.nav-bar,
a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
}

.nav-bar,
a:hover { color: #cfcfcf; }

.nav-bar {
  display: flex;
  background-color: #3e3c3c;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  margin: 0;
  padding: 0;
}

.name {
  flex: 2;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin: 0 10px;
  padding-left: 10rem;
}

.list {
  flex: 1;
  list-style: none;
  display: flex;
  padding: 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.social { height: 10px; }

.list .item .social {
  display: inline-block;
  padding: 15px 10px;
}

.menu { display: none; }

.icons {
  list-style: none;
}

.headline {
  display: flex;
  flex: 1;
  padding-bottom: 5rem;
  align-items: center;
  background-image: url("images/Illustration-header.svg");
  background-repeat: no-repeat;
  background-position-y: inherit;
  background-position-x: 100%;
  background-size: 500px;
}

.headline-icons {
  flex: 0;
  margin: 0 30px;
}

.icons img {
  transition: all 0.3s ease;
}

.icons img:hover,
.icons img:focus {
  opacity: 0.6;
  cursor: pointer;
}

.headline-description {
  flex: 2;
  padding-left: 3rem;
  max-width: 400px;
}

.headline-ilustration {
  flex: 0;
  margin: 0;
}

h1 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 81px;
  color: #c64600;
}

h2 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 81px;
  color: #c64600;
}

h3 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  text-align: center;
}

h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

h5 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.works {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 4rem 8rem;
}

.header-content {
  text-align: left;
  margin: 0;
}

.work-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  align-items: center;
  text-align: center;
  width: 100%;
  flex: 2;
}

p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

.work-line-title {
  border: 1px solid #212121;
  width: 90%;
  margin: auto;
  flex: 3;
}

.works-title {
  align-items: center;
  display: flex;
  padding-bottom: 3rem;
}

.class-works {
  display: flex;
}

.initial-section {
  display: flex;
  width: 100%;
  margin: auto;
}

.principal-image {
  flex: 2;
  background-image: url("images/project1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  padding: 0 2rem;
  flex: 1;
}

.content p {
  color: #091e42;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.tag-container {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.tags-container {
  list-style: none;
  margin-left: -3rem;
}

.tag {
  float: left;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  color: #091e42;
  margin: 5px;
}

.button {
  background-color: #c64600;
  color: #fff;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  border: none;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: #fff5e1;
  color: #c64600;
  border: 1px solid #c64600;
  box-sizing: border-box;
}

.button:focus {
  outline-color: #091e42;
}

.img1 {
  width: 100%;
  margin: auto;
  transition: all 0.3s ease-in;
}

.img1:hover,
.img1:focus {
  width: 102%;
  height: 102%;
  cursor: pointer;
}

.project-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 0;
}

.first-card {
  border: 2px solid #091e42;
  background-image: url("images/project2.svg");
  margin: 0 2rem 2rem 0;
  display: flex;
  align-items: flex-end;
  width: auto;
  padding: 2rem 0;
  justify-content: center;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.card2 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project3.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.card3 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project4.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.card4 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project5.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.card5 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project3.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  width: auto;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.card6 {
  background-image: linear-gradient(179.35deg, rgba(38 38 38 / 0%) 0.85%, rgba(38 38 38 / 0.9%) 85%), url("images/project4.svg");
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  margin: 0 2rem 2rem 0;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.first-card:hover,
.first-card:focus,
.card2:hover,
.card2:focus,
.card3:hover,
.card3:focus,
.card4:hover,
.card4:focus,
.card5:hover,
.card5:focus,
.card6:hover,
.card6:focus {
  transform: scale(1.1);
  box-shadow: 5px 5px 50px #ccc;
  cursor: pointer;
}

.tags-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  margin-left: -3rem;
}

.card-content-first {
  margin: -2rem -1.5rem;
  width: 100%;
}

.first-card .button {
  width: 100%;
}

.card-info .tag {
  background: rgba(255 255 255 / 0.24%);
  box-sizing: border-box;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  color: #fff;
  margin: 5px;
}

.card-info {
  display: flex;
  align-items: end;
}

.about-info {
  width: 100%;
  flex: 1;
  background-image: url("./images/about.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 120%;
}

.about-img {
  width: 100%;
}

.about-image1 {
  background-image: url("./images/about.svg");
  background-repeat: no-repeat;
  flex: 1;
}

.about-me {
  display: flex;
  padding: 8rem 0 8rem 8rem;
}

hr {
  border: 1px solid #fff;
  width: 90%;
}

.skills-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8rem 0;
  margin-left: 8rem;
}

.headline-skills-rhombus {
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("images/rhombus.svg");
  list-style-position: inside;
}

.headline-skills-square {
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("images/squad.svg");
  list-style-position: inside;
}

.headline-skills-circle {
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("images/circle.svg");
  list-style-position: inside;
}

.skill-list {
  list-style: none;
  color: #fff;
  font-size: 22px;
  line-height: 42.67px;
  padding-inline-start: 0;
}

.about-paragraph {
  padding: 0;
  max-width: 400px;
}

.content-paragraph p {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.button-display {
  display: none;
}

.portfolio-form {
  display: flex;
  background-color: #fff;
  align-items: flex-start;
  padding: 5rem 8rem;
}

.contact-form {
  list-style: none;
  padding-left: 0;
}

.form-area {
  width: 100%;
}

footer {
  background-color: #fff;
  margin: 0;
}

.full-name,
.email,
.message {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #727170;
  border: none;
  border-bottom: 1px solid #d8d8d7;
  font-family: Inter, sans-serif;
  padding: 14px 12px;
}

.full-name {
  width: 100%;
}

.email {
  font-weight: normal;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #727170;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d8d8d7;
}

.message {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  background-color: #fbf8f7;
  width: 100%;
  min-height: 114px;
  border: none;
}

.form-btn {
  margin-top: 1rem;
}

.form-text p {
  color: #262626;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0 8px;
}

.form-text {
  margin-right: 3rem;
  width: 63%;
}

.icons-ft {
  display: flex;
  padding-inline-start: 0;
  list-style: none;
}

.footer-line {
  border: 1px solid #d8d8d7;
  width: 100%;
  margin: 0;
}

.footer-link {
  text-decoration: none;
  display: none;
}

.footer-icon {
  padding: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin: 0;
}

/* popup window */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255 255 255 / 20%);
  backdrop-filter: blur(4px);
  overflow-y: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 200;
  background: #fff;
  padding: 1.5rem;
  transition: 1s;
}

.close-popup {
  position: fixed;
  left: 95%;
  transform: translate(-50%, -50%);
}

.close-icon {
  appearance: none;
  border: none;
  padding: 0;
}

.title-pop {
  margin: 0;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.popup-images {
  width: 55%;
}

.popup-container {
  margin: 0;
  padding: 0;
}

.popup-work {
  display: flex;
}

.pop-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 4rem;
}

.cont {
  margin-left: 2rem;
}

.link-popup-button {
  padding: 0;
  display: flex;
}

.icon-popup-button {
  padding-left: 1rem;
}

.hidde-span{
  display: none;
}

.error {
  font-family: "Inter", serif;
  font-weight: 400;
  padding: 1em;
  border: solid red 1px;
  font-size: 1.5em;
  margin: auto;
  border-radius: 5px;
  color: red;
}
}

@media all and (max-width: 991px) {
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    cursor: pointer;
    border: none;
    background: none;
    transition: 0.3s;
  }

  .menu-icon {
    cursor: pointer;
    border: none;
    background: none;
  }

  #hamburguer {
    border: none;
    background: none;
  }

  .close-menu {
    display: none;
    border: none;
    background: none;
  }

  .icon {
    border: none;
    background: none;
    cursor: pointer;
  }

  .about-paragraph {
    max-width: 325px;
  }

  .headline-img {
    width: 70%;
    position: relative;
    top: 120px;
    object-position: 7.7rem;
  }

  .nav-bar .name {
    flex-direction: column;
    position: relative;
    padding: 1rem;
    width: 100%;
  }

  .list {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #3c3a39;
    list-style-type: none;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    padding-top: 2rem;
    align-items: flex-start;
    transition: 0.3s;
    margin-top: 0;
  }

  .overflow-hidden {
    overflow-y: hidden;
  }

  .overflow-hidden-popup {
    overflow-y: hidden;
  }

  .list.active {
    left: 0;
  }

  .nav-bar a {
    font-size: 32px;
    line-height: 44px;
    color: #fff5e1;
    text-align: left;
  }

  .item {
    border-bottom: 1px solid #dfe1e6;
    margin: 0 20px;
    width: 90%;
  }

  .social {
    display: none;
  }

  .nav-bar .item {
    display: block;
    border-top: 2px solid #3e3c3c;
    margin: 0 1.5rem;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: 200px;
    background-position-y: bottom;
    background-position-x: 140%;
    padding-bottom: 15rem;
  }

  .headline-icons {
    order: 1;
    align-self: flex-start;
    margin-bottom: -10rem;
    margin-top: -3em;
  }

  .icons {
    display: flex;
  }

  .headline-description {
    order: 0;
    margin: 12px 24px;
    padding: 60px 0 0;
  }

  h1,
  h2 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .headline-ilustration {
    order: 2;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -10rem;
    padding-bottom: 2.5rem;
  }

  .works-title {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .works {
    padding: 1rem 1rem 5rem;
  }

  .initial-section {
    flex-direction: column;
    align-items: center;
  }

  .principal-image {
    padding-top: 3rem;
    min-width: 358px;
    min-height: 238px;
    margin-top: 2rem;
  }

  .header-content {
    font-size: 32px;
    line-height: 44px;
  }

  .project-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    padding: 0 2rem;
    width: auto;
  }

  .first-card {
    height: 386px;
    align-items: flex-end;
    margin: 0;
  }

  .card-info {
    padding-bottom: 1rem;
  }

  .card2 {
    align-items: flex-end;
    display: inherit;
    margin: 2rem 0;
  }

  .card3 {
    align-items: flex-end;
    margin: 2rem 0;
    display: inherit;
  }

  .card4 {
    align-items: flex-end;
    margin: 2rem 0;
    display: inherit;
  }

  .card5 {
    align-items: flex-end;
    margin: 2rem 0;
    display: inherit;
  }

  .card6 {
    align-items: flex-end;
    margin: 2rem 0;
    display: inherit;
  }

  .button-display {
    display: block;
    width: 100%;
  }

  .card-button {
    margin: -2rem -1.5rem;
  }

  .about-me {
    padding: 0;
  }

  .about-img {
    object-position: 14.7rem;
  }

  .about-info {
    padding: 80px 0 180px 20px;
    background-size: 200px;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position-x: 130%;
  }

  .skills-info {
    grid-template-columns: repeat(1, 1fr);
    padding: 5rem 0;
    text-align: center;
    margin: 0;
  }

  .form-text p {
    color: #172b4d;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .form-text {
    margin-right: 0;
    width: 100%;
  }

  .portfolio-form {
    flex-direction: column;
    padding: 80px 24px;
  }

  .submit-button {
    display: flex;
    justify-content: center;
  }

  .email,
  .full-name,
  .message {
    padding: 0;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 4%;
    transform: translate(0, 0);
    width: 80%;
    z-index: 200;
    background: #fff;
    padding: 1.5rem;
    transition: 1s;
    margin-top: 2rem;
    height: 80%;
    overflow-y: scroll;
  }

  .popup-work {
    flex-direction: column;
    align-items: center;
  }

  .popup-images {
    width: 90%;
  }

  .popup-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .cont {
    padding: 0;
    margin: 0;
  }

  .pop-paragraph {
    padding: 2rem 0;
  }

  .error {
  
  }
}
